.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 150px);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}