.in-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &.detail-page {
        width: 49px;
        height: 49px;
        margin-right: 20px;
        background: #FFFFFF;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        svg {
            width: 25px;
            height: 22px;
            fill: #828282;
        }
    }

    &.photo-card {
        width: 34px;
        height: 34px;
    }

    &.checked {
        svg {
            fill: red;
        }
    }
}