.grid-container {
    margin: 80px 0;

    h3 {
        margin-bottom: 47px;
        font-size: 36px;
        line-height: 43px;
        font-weight: 600;
    }
}

.grid {
    display: flex;
    margin-left: -24px; /* gutter size offset */
    width: auto;
    font-size: 0;

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.column {
    padding-left: 24px; /* gutter size */
    background-clip: padding-box;
}