.card {
    position: relative;
    margin-bottom: 24px;

    &:hover {
        .card__info {
            opacity: 1;
            visibility: visible;
        }
    }

    &__overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .owner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__img {
            width: 60px;
            height: 60px;
            margin-bottom: 13px;
            border: 1px solid #fff;
            border-radius: 8px;
        }

        &__name {
            font-size: 24px;
            line-height: 1;
            color: #fff;
        }
    }

    .actions {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;

        &__item {
            width: 34px;
            height: 34px;
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}