.head {
    position: relative;
    width: 100%;
    padding: 43px 0 63px;

    &__top {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}

.blur {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
}

.user {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;

    &__avatar {
        width: 45px;
        height: 45px;
        margin-right: 11px;
        border: 1px solid #fff;
        border-radius: 8px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        color: #000;
    }
}

.buttons {
    display: flex;
    align-items: center;
}

.img-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 744px;

    img {
        height: 100%;
        box-shadow: 0 4px 100px #000000;
        border-radius: 8px;
    }
}