.head {
    position: relative;
    width: 100%;
    padding: 43px 0 63px;
    @media (max-width: 576px) {
        padding: 33px 0 53px;
    }

    &__top {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}

.blur {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
}

.user {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 4px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    @media (max-width: 576px) {
        margin-bottom: 16px;
    }

    &__avatar {
        width: 45px;
        height: 45px;
        margin-right: 11px;
        border: 1px solid #fff;
        border-radius: 8px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        color: #000;
    }
}

.buttons {
    display: flex;
    align-items: center;
}