.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 1400px) {
        max-width: 1140px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 992px) {
        max-width: 720px;
    }
    @media (max-width: 768px) {
        max-width: calc(100% - 30px);
    }
}